<h1>Inbox</h1>

<%= render 'messages' %>

<%= link_to "New Message", new_message_path, class: 'btn btn-primary' %>
<%= link_to "Add Friends", root_path, class: 'btn btn-primary' %>
<%= link_to "Sent Messages", new_message_path, class: 'btn btn-primary' %>
