<h1>Users</h1>

<table class="table">
  <thead class="thead thead-default">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Created at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= time_ago_in_words user.created_at %></td>
        <td><%= link_to "Add Friend", friends_new_path(:user_id => user.id, :user_name => user.name, :user_email => user.email), class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>